<div class="mb-3 text-center">
  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteH(false)" *ngIf="home">
      <img src="./assets/media/ocultar.png" height="20px" class="mr-2">
        <b>Ocultar sección Home</b>
  </button>

  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteH(true)" *ngIf="!home">
      <img src="./assets/media/mostrar.png" height="20px" class="mr-2">
        <b>Mostrar sección Home</b>
  </button>
</div>

<app-home *ngIf="home"></app-home>


<div class="mb-3 text-center">
  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteM(false)" *ngIf="mascotas">
      <img src="./assets/media/ocultar.png" height="20px" class="mr-2">
        <b>Ocultar sección Mascotas</b>
  </button>

  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteM(true)" *ngIf="!mascotas">
      <img src="./assets/media/mostrar.png" height="20px" class="mr-2">
        <b>Mostrar sección Mascotas</b>
  </button>
</div>

<app-mascotas *ngIf="mascotas"></app-mascotas>


<div class="mb-3 text-center">
  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteS(false)" *ngIf="servicios">
      <img src="./assets/media/ocultar.png" height="20px" class="mr-2">
        <b>Ocultar sección Productos</b>
  </button>

  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteS(true)" *ngIf="!servicios">
      <img src="./assets/media/mostrar.png" height="20px" class="mr-2">
        <b>Mostrar sección Productos</b>
  </button>
</div>

<app-servicios *ngIf="servicios"></app-servicios>


<div class="mb-3 text-center">
  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteC(false)" *ngIf="conocenos">
      <img src="./assets/media/ocultar.png" height="20px" class="mr-2">
        <b>Ocultar sección Conocenos</b>
  </button>

  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteC(true)" *ngIf="!conocenos">
      <img src="./assets/media/mostrar.png" height="20px" class="mr-2">
        <b>Mostrar sección Conocenos</b>
  </button>
</div>
<app-conocenos *ngIf="conocenos"></app-conocenos>

<div class="mb-3 text-center">
  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteT(false)" *ngIf="tabla">
      <img src="./assets/media/ocultar.png" height="20px" class="mr-2">
        <b>Ocultar sección Inventario</b>
  </button>

  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteT(true)" *ngIf="!tabla">
      <img src="./assets/media/mostrar.png" height="20px" class="mr-2">
        <b>Mostrar sección Inventario</b>
  </button>
</div>
<app-tabla *ngIf="tabla"></app-tabla>

<div class="mb-3 text-center">
  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteTA(false)" *ngIf="tablaAlumnos">
      <img src="./assets/media/ocultar.png" height="20px" class="mr-2">
        <b>Ocultar sección Alumnos</b>
  </button>

  <button class="btn btn-outline-info mt-4" (click)="ocultarComponenteTA(true)" *ngIf="!tablaAlumnos">
      <img src="./assets/media/mostrar.png" height="20px" class="mr-2">
        <b>Mostrar sección Alumnos</b>
  </button>
</div>
<app-tabla-alumnos *ngIf="tablaAlumnos"></app-tabla-alumnos>



