<!------------------------------------- Encabezado ------------------------------------->
<div class="row bg-light">
    <div class="col-12 bg-light">
        <div class="card bg-light">
            <div class="card-header bg-info">
    			<h1 class="text-center"><b>Sobre nosotros</b></h1>
			</div>
			<br>
<!------------------------------------- Sobre nosotros --------------------------------------->

			<div class="container">
			    <div class="row bg-light text-center">
			        <figure class="col-6">
			            <h3 class="text-info">Filosofía de MyPet</h3>
			            <p>Nuestra filosofía se basa en el amor y respeto por la naturaleza, y además buscamos
			                defender los derechos de los animales así como fomentar la responsabilidad al tener una
			                mascota.</p>
			        </figure>
			        <figure class="col-6" id="ColumnasAcerca">
			            <h3 class="text-info">Visión</h3>
			            <p>El principal objetivo en MyPet es ser reconocidos como líderes en el sector, siendo uno de
			                los mayores distribuidores de productos para mascotas a nivel local, así como destacar
			                por nuestro compromiso y pasión por el servicio.</p>
			        </figure>
			        <figure class="col-12" id="ColumnasAcerca">
			            <h3 class="text-info">Misión</h3>
			            <p>La misión de MyPet consiste brindar atención especializada a cada una de nuestras
			                mascotas, así como un servicio integral a los clientes ofreciendo productos de alta calidad
			                para el cuidado y bienestar de sus mascotas.</p>
			            <p>La misión de MyPet consiste en brindar un servicio integral a los clientes, además de una
			                atención especializada a cada una de nuestras mascotas ofreciendo productos de alta
			                calidad para el cuidado y bienestar de ellas.</p>
			        </figure>
			        <br><br>

			        <figure class="col-12">
			            <h1 class="text-info">Valores</h1>
			        </figure>

			        <figure class="col-sm-4 thumbnail" id="ColPro">
			            <h4 class="bg-info">Pasión</h4>
			            <p>La pasión por la naturaleza es nuestro principal motor de trabajo ya que buscamos
			                darles un buen hogar y cuidado a las mascotas.</p>
			        </figure>

			        <figure class="col-sm-4 thumbnail" id="ColPro">
			            <h4 class="bg-info">Calidad</h4>
			            <p>Nuestro objetivo es ofrecer servicios de alta calidad a nuestros clientes a partir de una inmejorable oferta de producto y precio.</p>
			        </figure>

			        <figure class="col-sm-4 thumbnail" id="ColPro">
			            <h4 class="bg-info">Responsabilidad</h4>
			            <p>Fomentamos la responsabilidad entre nuestros empleados, trabajando
			                como un equipo para cumplir nuestro principal objetivo que es satisfacer las necesidades
			                del cliente.</p>
			        </figure>

			        <figure class="col-sm-6 thumbnail" id="ColPro">
			            <h4 class="bg-info">Compromiso</h4>
			            <p>Nuestro compromiso por la protección animal y el cuidado ambiental. Con
			                nuestras actividades diarias y con el cliente ya que siempre buscaremos brindar el mejor
			                servicio.</p>
			        </figure>

			        <figure class="col-sm-6 thumbnail" id="ColPro">
			            <h4 class="bg-info">Amor</h4>
			            <p>Amor por la naturaleza y por cada una de las especies, brindando los cuidados
			                necesarios y fomentando la responsabilidad al tener una mascota.</p>
			        </figure>
			    </div>
			</div>
		</div>
	</div>
</div>
