<div class="row bg-light">
    <div class="col-12">
        <div class="card bg-light">
            <div class="card-header bg-info">
                <h1 class="text-center"><b>Productos</b></h1>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center" id="MenuProducto">
                        <div class="row">

                            <div class="col-12">
                                <h2 class="text-center text-info"><b>Mercancía</b></h2>
                            </div>

                            <div id="cards" class="col-4 card">                             
                                <div class="card-body">
                                    <img src="./assets/media/cojin_perros.jpg" alt="" width="300px" height="200px" class="border rounded"/>
                                    <button class="btn btn-outline-info mt-4" id="Pastor_Aleman" 
                                    ><b>Cojín para perro</b></button>
                                </div>           
                            </div>

                            <div id="cards" class="col-4 card">                             
                                <div class="card-body">
                                    <img src="./assets/media/pelota_perro.jpg" alt="" width="300px" height="200px" class="border rounded"/>
                                    <button class="btn btn-outline-info mt-4" id="Pastor_Aleman" 
                                    ><b>Pelota para perro</b></button>
                                </div>           
                            </div>

                            <div id="cards" class="col-4 card">                             
                                <div class="card-body">
                                    <img src="./assets/media/comida_gato.jpg" alt="" width="300px" height="200px" class="border rounded"/>
                                    <button class="btn btn-outline-info mt-4" id="Pastor_Aleman" 
                                    ><b>Comida para gato</b></button>
                                </div>           
                            </div>

                            <div id="cards" class="col-4 card">                             
                                <div class="card-body">
                                    <img src="./assets/media/shampoo.jpg" alt="" width="300px" height="200px" class="border rounded"/>
                                    <button class="btn btn-outline-info mt-4" id="Pastor_Aleman" 
                                    ><b>Shampoo Anti-Olor</b></button>
                                </div>           
                            </div>

                            <div id="cards" class="col-4 card">                             
                                <div class="card-body">
                                    <img src="./assets/media/rueda_hamster.jpg" alt="" width="300px" height="200px" class="border rounded"/>
                                    <button class="btn btn-outline-info mt-4" id="Pastor_Aleman" 
                                    ><b>Rueda para Hámster</b></button>
                                </div>           
                            </div>

                            <div id="cards" class="col-4 card">                             
                                <div class="card-body">
                                    <img src="./assets/media/jaula_aves.jpg" alt="" width="300px" height="200px" class="border rounded"/>
                                    <button class="btn btn-outline-info mt-4" id="Pastor_Aleman" 
                                    ><b>Jaula ave dos niveles</b></button>
                                </div>           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>