<div class="container-fluid mt-0 bg-light" id="divContenedorPrincipal">
    <div class="row">

        <figure class="col-12 text-center">
            <h1 class=" mt-2 text-info" id="fondoTiMyPet"><b>MyPet</b></h1>
        </figure>

        <div class="col-sm-4">
            <div class="card-header bg-info text-center">
                <h2><b>Servicios MyPet</b></h2>
            </div>

            <div class="card-body mt-3 text-center border border-info">
                    <div class="">
                            <h3>Contamos con servicios de estética y salud para tu mascota 
                            brindados por nuestro personal altamente capacitado.</h3>
                    </div>
                
                <div class="mt-5 text-center">
                    <button id="VerSercicios" class="btn btn-info text-white ">Ver más</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="card-header bg-info text-center">
                <h2><b>Productos</b></h2>
            </div>

            <div class="card-body mt-3 text-center border border-info">
                <div class="">
                        <h3>Contamos con productos de alta calida, ideales para cualquier tipo de mascotas, cada producto está garantizado.<br></h3>
                </div>
                
                <div class=" mt-5 text-center">
                    <button id="VerSercicios" class="btn btn-info text-white">Ver más</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="card-header bg-info text-center">
                <h2><b>Adopta</b></h2>
            </div>

            <div class="card-body mt-3 text-center border border-info">
                <div class="">
                        <h3>En MyPet, un amigo estará siempre dispuesto a acompañarte, pregunta 
                            por las deiferentes especies y razas con las que contamos.<br></h3>
                </div>
                
                <div class=" mt-5 text-center">
                    <button id="VerSercicios" class="btn btn-info text-white">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>